body, nav, ul, li, a, h2, aside, section, figure, figcaption, p, form, label, input, option
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
