<% action_url = ((action == "user") ? users_url : session_url) %>

<form action="<%= action_url %>"  method="POST">
  <%= auth_token_input %>
  <label>
    Email:
    <input type="text" name="user[email]">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="user[password]">
  </label>
  <br>
  <input type="submit" value="<%= button_value %>">
</form>
